<!DOCTYPE html>
<html>
<head>


<style>
p.dotted {border-style: dotted;}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
</head>
<body>
<h1 style="position: relative; text-align:center " > GetTracking </h1>
<h2 style="text-align:center"><a href="/login_user" >Click here to login</a></h4>

<br>
<br>
<h4 style="text-align:center"><a href="/newuser" >+New User? Click here</a></h4>
<br>

</body>
</html>
